# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.DS_Store

# Backend
backend/models/*
!backend/models/.keep
backend/history/
backend/runs/
backend/build/
backend/dist/
backend/config.json
Miniconda3-latest-Windows-x86_64.exe

# Node
node_modules/
dist/
.DS_Store

# Tauri
src-tauri/target/
frontend/src-tauri/bin/backend-*.exe

# trae
.trae/
